<div class="home">
  <div class="container">

    <div id="howItWorks">
      <h2>We provide</h2>
        <ul class="clearfix">
          <li>
            Location/set
          </li>
          <li>
            Professional photography
          </li>
          <li>
            Props
          </li>
          <li>
            Make Up
          </li>
          <li>
            Models
          </li>
          <li>
            100% discreet
          </li>
          <li>&nbsp;</li>
          <li>
            We can even do simple shoots  
          </li>
        </ul>
    </div>

    <form>
      <label>Enter a description of your fantasy pic</label>
      <textarea type="text" name="fantasy"></textarea>
        
      <label>Email</label>
      <input type="text" name="email">

      <label>Name or Fantasy Name</label>
      <input type="text" name="name">

      <button class="btn btn-info btn-large" type="submit" >Send</button>
    </form>

  </div> 
</div>
