{{^isHome}}
{{!<li><a class="brand" href="/">Cribum</a></li>}}
{{/isHome}}
{{!<li><a href="/how-it-works">How it works</a></li>}}
{{!<li><a href="/subjects">Browse Vendors Found</a></li>}}
{{#user}} 
{{!<li><a class="create-subject" href="#">Create Subject</a></li>}}
{{/user}} 
